apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: gitlab-runner

resources:
  - serviceaccount.yaml
  - role.yaml
  - rolebinding.yaml
  - deployment.yaml
  - daemonset.yaml

configMapGenerator:
  - name: gitlab-runner
    files:
      - config.toml=config-files/config.toml
      - entrypoint=scripts/entrypoint.sh
      - register-the-runner=scripts/register-the-runner.sh
      - pre-entrypoint-script=scripts/pre-entrypoint-script.sh
      - check-live=scripts/check-live.sh

generatorOptions:
  disableNameSuffixHash: true
